@import url('primereact/resources/themes/mira/theme.css');
@import url('./assets/style/util.scss');
@import url('./assets/style/theme.scss');
@import url('./assets/style/form.scss');


body{
    margin: 0;
    padding: 0;
    overflow-y: scroll;
}

a{
    text-decoration: none !important;
    color: black !important;
}
.p-dropdown-items{
    padding:0 !important;
}